body {
    background-color: var(--darkBlue);
    background-image: url(../assets/login-page/shiftWage.jpg);
    background-repeat: no-repeat;
    background-position: 0% 100%;
    background-size: 20%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
// [------------------------- Navigation Bar -------------------------] //

.nav {
    display: flex;
    background-color: var(--lightBlue);
    font-size: 1.5em;
    height: 3em;
    text-align: center;
}
.nav > li {
    color: var(--white);
    list-style-type: none;
    display: grid;
    align-items: center;
    min-width: 10%;
    &:nth-of-type(1) {
        margin: 0 1em;
    }
    &:nth-of-type(4) {
        margin-left: auto;
        margin-right: 1em;
    }
}
.nav > li > a {
    color: var(--white);
    padding: 0.9em 1em;
    text-decoration: none;
    transition: 0.3s ease-in-out;
    &:hover {
        background-color: var(--white);
        color: var(--lightBlue);
    }
}
.userProfile:hover + .profileList,
.profileList:hover {
    display: grid;
}
.profileList {
    min-height: 5em;
    display: none;
    z-index: 999;
}
.profileList > li {
    list-style-type: none;
    display: grid;
}
.profileList > li > a {
    transition: 0.3s ease-in-out;
    text-decoration: none;
    color: var(--white);
    display: grid;
    place-items: center;
    background-color: var(--lightBlue);
    &:hover {
        background-color: var(--white);
        color: var(--lightBlue);
    }
}

// [------------------------- Shifts Table -------------------------] //

main {
    display: grid;
    place-items: center;
    margin: 0 5%;
}
.table-container {
    max-height: 50vh; 
    overflow-y: auto;
}
table {
    white-space: nowrap;
    padding: 0.5em 2em 1.5em;
    border-radius: 0.25em;
    background: var(--lightBlack);
    color: var(--white);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; 
}
th,
td {
    border-bottom: 1px solid var(--lightBlue);
    padding: 1em;
    text-align: center;
}
tr {
    &:hover {
        color: var(--lightBlue);
        cursor: pointer;
    }
    &:first-of-type:hover {
        color: var(--white);
        cursor: default;
    }
}
.bestMonth-container {
    background: var(--lightBlue);
    margin: 3em auto;
    padding: 1em;
    border-radius: 0.25em;
    color: var(--lightBlack);
    text-align: center;
}
::-webkit-scrollbar {
    width: 0.75em;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-track {
    background: var(--darkWhite);
}
.spanBestMonth {
    color: var(--white);
}

// [------------------------- Search Inputs -------------------------] //

.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}
.search-input {
    background-color: var(--lightBlue);
    border: none;
    outline: none;
    border-radius: 0.15em;
    font-size: 1.2em;
    padding: 0.5em;
    color: var(--darkBlue);
    &::placeholder {
        color: var(--darkBlue);
    }
    &:first-of-type {
        color: var(--white);
    }
}
input[type="date"] {
    cursor: pointer;
}
.search-labels {
    color: var(--white);
    font-size: 1.05em;
    position: relative;
    bottom: 1.6em;
    left: 4.75em;
    &:last-of-type {
        left: 4.15em;
    }
}
.search-btn {
    padding: 0.5em 2em;
    font-size: 1.2em;
    background-color: var(--lightBlue);
    outline: none;
    border: none;
    transition: 0.5s;
    border-radius: 0.15em;
    &:hover {
        cursor: pointer;
        background-color: var(--lightBlack);
        color: var(--lightBlue)
    }
}
.button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
    gap: 2em;
}

// [------------------------- Edit User Profile -------------------------] //


.user-input-control {
    display: grid;
    row-gap: 0.5em;
}
.user-input-field {
    outline: none;
    border: none;
    padding: 0.25em;
    font-size: 1.2em;
}
.error {
    color: var(--darkRed);
}
.user-input-label {
    margin-top: 1em;
    font-size: 1.3em;
    color: var(--lightBlue);
}
.confirmProfile {
    margin: 0 auto;
    margin-top: 1em;
    background-color: var(--lightBlue);
    color: var(--white);
    border: none;
    font-size: 1.2em;
    width: 100%;
    padding: 0.5em;
    transition: 0.5s;
    &:hover {
        cursor: pointer;
        background-color: var(--darkBlue);
        color: var(--lightBlue);
    }
}

// [------------------------- Loading Spinner -------------------------] //

.overlay {
    width: 100%;
    height: 100%;
    background: var(--overlayGray);
    position: absolute;
    display: none;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    position: absolute;
    bottom: 50%;
    left: 50%;
}
.spinnerDisplay {
    display: block;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

// [------------------------- Footer  -------------------------] //

footer {
    margin-top: auto;
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
}
.footer-content {
    color: var(--white);
}
.workplace {
    font-size: 1.2em;
}

// [------------------------- Responsiveness  -------------------------] //

@media screen and (max-width: 840px) {
    header {
        font-size: 0.9em;
    }
    .table-container {
        overflow-x: scroll;
        width: 100%;
    }
}
@media screen and (max-width: 720px) {
    header {
        font-size: 0.8em;
    }
    .bestMonth-container {
        margin: 2em auto;
        font-size: 0.8em;
    }
    .search-labels {
        display: none;
    }
    .search-container {
        margin: 0 5% 1em;
        flex-direction: column;
        row-gap: 1em;
    }
}
@media screen and (max-width: 640px) {
    .homepageItem {
        display: none;
    }
    .nav > li {
        min-width: 0;
    }
    
    .nav > li > a {
        padding: 0.9em 0.25em;
    }
}
@media screen and (max-width: 480px) {
    .bestMonth-container {
        margin: 2em 5%;
    }
    .bestMonth {
        text-wrap: wrap;
    }
    .logoItem {
        visibility: hidden;
        width: 0;
    }
}

