* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
:root {
    --lightBlue: #0ab3ff;
    --darkBlue: #29313c;
}
body {
    background: black;
}
.navContainer {
    display: flex;
    column-gap: 1em;
    background-color: var(--lightBlue);
    font-size: 1.5em;
    height: 3em;
    text-align: center;
}
.navContainer > li {
    color: #fff;
    list-style-type: none;
    &:nth-of-type(5) {
        margin-left: auto;
    }
    display: grid;
    align-items: center;
    width: 9em;
    
}
.navContainer > li > a {
    color: #fff;
    border-radius: 0.25em;
    padding: 0.93em 0;
    text-decoration: none;
    transition: 0.2s;
    &:hover {
        background-color: black;
        color: var(--lightBlue);
        scale: 1.1;
    }
}
main {
    display: grid;
    margin-top: 5em;
    place-items: center;
}
table {
    border: 1px solid var(--lightBlue);
    padding: 0.5em 2em;
    border-radius: 0.15em;
    background: var(--darkBlue);
    color: #fff;
}
th {
    border-bottom: 1px solid var(--lightBlue);
    // border-right: 1px solid var(--lightBlue);
    // border-left: 1px solid var(--lightBlue);
    padding: 1em;
    text-align: center;
    font-size: 1.25em;
}
td {
    border-bottom: 1px solid var(--lightBlue);
    text-align: center;
    padding: 1em;
}
tr {
    &:hover {
        color: var(--lightBlue);
        cursor: pointer;
    }
}
tr:first-of-type:hover {
    color: #fff;
    cursor: default;
}
