// [------------------------------ Authentication forms ------------------------------] //

body {
    display: grid;
    min-height: 100vh;
    place-items: center;
    background-image: url(../assets/login-page/shift-builder-bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
form {
    background-color: var(--darkBlue);
    padding: 3em 4em;
    text-align: center;
    border-radius: 0.35em;
    display: flex;
    flex-direction: column;
}
form > h2 {
    color: #fff;
    margin-bottom: 1.5em;
}
.input-control {
    position: relative;
    min-width: 20em;
    margin-bottom: 1em;
}
.input-control > input {
    position: relative;
    width: 100%;
    padding: 0.35em 0;
    background: transparent;
    border: none;
    border-bottom: 0.10em solid #999;
    outline: none;
    color: #fff;
    font-size: 1em;
    letter-spacing: 0.05em;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    &::placeholder {
        padding-left: 0.1em;
    }
    &:focus {
        border-bottom: 0.10em solid var(--lightBlue);
        &::placeholder {
            color: var(--lightBlue);
        }
    }
}
.clickBtn {
    background: var(--lightBlue);
    border: none;
    padding: 1em;
    border-radius: 0.10em;
    color: #1c2630;
    font-size: 1.05em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 1em 0 2em; 
    color: #fff;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    &:hover {
        background-color: var(--darkBlue);
        color: var(--lightBlue);
    }
}
.loginText {
    color: #fff;
}
.btn {
    color: var(--lightBlue);
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
    &:hover {
        color: gold;
    }
}
.input-control.success input {
    border-color: #09c372;
}
.input-control.error input {
    border-color: #ff3860;
}
.input-control .error {
    height: 1em; 
    color: #ff3860; 
    font-size: 0.9em; 
    margin-top: 0.2em; 
}
.formHidden {
    opacity: 0;
    position: absolute;
    z-index: -1;
}
.showPassword {
    float: right;
    cursor: pointer;
    position: relative;
    bottom: 1.75em;
    transition: 1s;
    &:hover {
        scale: 1.2;
    }
}
.showPasswordRegister {
    position: absolute;
    right: 0;
    bottom: 1.35em;
}
.tooltipPassword {
    position: absolute;
    right: 2.5em;
    top: 0.66em;
    font-size: 0.75em;
    letter-spacing: 0.1em;
    color: #fff;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.showPassword:hover + .tooltipPassword {
    opacity: 1;
}
.no-account-text {
    color: #fff;
}
.signUpForm,
.signInForm,
.forgotPasswordForm {
    transition: opacity 0.5s ease-in-out;
}
h4 {
    color: #fff;
    margin-bottom: 3em;
}
h5 {
    color: #fff;
}
h5 > a {
    color: var(--lightBlue);
    text-decoration: none;
    transition: 0.3s ease-in-out;
    &:hover {
        color: gold;
    }
}
.forgotPasswordForm {
    transition: 0.5s ease-in-out;
}
.popUp-btn-container {
    display: flex;
    justify-content: center;
}

.popupMessage {
    background-color: var(--darkBlue);
    position: absolute;
    top: 25em;
    color: #fff;
    transition: 0.5s ease-in;
    padding: 2em 2em 0.25em;
    border-radius: 0.15em;
}

.popUpBtn {
    padding: 0.5em 1em;
    &:hover {
        background-color: var(--lightBlack);
    }
}

.overlay {
    width: 100%;
    height: 100%;
    background: var(--overlayGray);
    position: absolute;
    display: none;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    position: absolute;
    bottom: 50%;
    left: 50%;
}
.spinnerDisplay {
    display: block;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

  


