body {
  display: grid;
  min-height: 100vh;
  place-items: center;
  background-image: url(../assets/login-page/shift-builder-bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

form {
  background-color: var(--darkBlue);
  padding: 3em 4em;
  text-align: center;
  border-radius: 0.35em;
  display: flex;
  flex-direction: column;
}

form > h2 {
  color: var(--white);
  margin-bottom: 1.5em;
}

.input-control {
  position: relative;
  min-width: 20em;
  margin-bottom: 1em;
}

.input-control > input {
  position: relative;
  width: 100%;
  padding: 0.35em 0;
  background: transparent;
  border: none;
  border-bottom: 0.1em solid #999;
  outline: none;
  color: var(--white);
  font-size: 1em;
  letter-spacing: 0.05em;
}
.input-control > input::-webkit-outer-spin-button, .input-control > input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.input-control > input::placeholder {
  padding-left: 0.1em;
}
.input-control > input:focus {
  border-bottom: 0.1em solid var(--lightBlue);
}
.input-control > input:focus::placeholder {
  color: var(--lightBlue);
}

.clickBtn {
  background: var(--lightBlue);
  border: none;
  padding: 1em;
  border-radius: 0.1em;
  color: #1c2630;
  font-size: 1.05em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 1em 0 2em;
  color: var(--white);
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.clickBtn:hover {
  background-color: var(--lightBlack);
  color: var(--lightBlue);
}

.loginText {
  color: var(--white);
}

.btn {
  color: var(--lightBlue);
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
}
.btn:hover {
  color: gold;
}

.input-control.success input {
  border-color: #09c372;
}

.input-control.error input {
  border-color: #ff3860;
}

.input-control .error {
  height: 1em;
  color: #ff3860;
  font-size: 0.9em;
  margin-top: 0.2em;
}

.formHidden {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.showPassword {
  float: right;
  cursor: pointer;
  position: relative;
  bottom: 1.75em;
  transition: 1s;
}
.showPassword:hover {
  scale: 1.2;
}

.showPasswordRegister {
  position: absolute;
  right: 0;
  bottom: 1.35em;
}

.tooltipPassword {
  position: absolute;
  right: 2.5em;
  top: 0.66em;
  font-size: 0.75em;
  letter-spacing: 0.1em;
  color: var(--white);
  opacity: 0;
  transition: opacity 0.5s ease;
}

.showPassword:hover + .tooltipPassword {
  opacity: 1;
}

.no-account-text {
  color: var(--white);
}

.signUpForm,
.signInForm,
.forgotPasswordForm {
  transition: opacity 0.5s ease-in-out;
}

h4 {
  color: var(--white);
  margin-bottom: 3em;
}

h5 {
  color: var(--white);
}

h5 > a {
  color: var(--lightBlue);
  text-decoration: none;
  transition: 0.3s ease-in-out;
}
h5 > a:hover {
  color: gold;
}

.forgotPasswordForm {
  transition: 0.5s ease-in-out;
}

.popUp-btn-container {
  display: flex;
  justify-content: center;
}

.popupMessage {
  text-align: center;
  min-width: 32em;
  background-color: var(--lightBlack);
  position: absolute;
  top: 25em;
  color: var(--white);
  transition: 0.5s ease-in;
  padding: 2em 2em 0.25em;
  border-radius: 0.15em;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.popUpBtn {
  padding: 0.5em 1em;
}
.popUpBtn:hover {
  background-color: var(--darkBlue);
}

.overlay {
  width: 100%;
  height: 100%;
  background: var(--overlayGray);
  position: absolute;
  display: none;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  position: absolute;
  bottom: 50%;
  left: 50%;
}

.spinnerDisplay {
  display: block;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 640px) {
  form {
    padding: 1em 2em;
  }
  .popupMessage {
    min-width: 16em;
  }
}/*# sourceMappingURL=register.css.map */